html, body, .page {
  height: 100%;
  width: 100%;
}
/*********************************
            NAVBAR
*********************************/
.navbar {
  margin: 0;
}

.navHomeTitle {
  font-weight: bolder;
  text-align: center;
  font: 500 37px/1.0 'Just Another Hand', Helvetica, sans-serif;
}
/*html {
  background: url(../images/skillsbackground.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
.page {position: absolute;background-size: /* background: center center; */}
.page_index {
  background-image: url(../images/Construction.jpg);
  background-size: cover;
  /*background-repeat: repeat;*/
}
.page_about {
  position: relative;
}
.page_about:before {
  content: ' ';
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0.5;
  background-size: cover;
  background-image: url(../images/New_construction.jpg);
  position: absolute;
  z-index: -1;
}
.page_contact {
  position: relative;
  background-size: cover;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
}
.page_skills {
  /*background-image: url(../images/floor.jpg);*/
  background-size: cover;
  /*background-repeat: repeat;*/
  height: 100%;
  width: 100%;
}
/*.page_contact:before {
  content: ' ';
  width: 100%;
  height: 100%;
  left: 0;
  /*opacity: 0.5;*/
  background-size: cover;
  background-image: url(../images/fiber.jpg);
  position: absolute;
  /*z-index: -1;*/
}*/
/*********************************
            SKILLS
*********************************/
.skills-toolbox-div {
  position: relative;
  /*margin: 4%;*/
}
.skills-toolbox-div img {
  display: inline-block;
  margin: 2%;
  max-width: 170px;
}
#garage {
  display: none;
  /*height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;*/
}
.page_skills {
  background-image: url(../images/floor.jpg);
  background-size: cover;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
}
.page_contact {
  background-image: url(../images/fibermobile.png);
  background-size: cover;
  /*background-repeat: repeat;*/
  height: 100%;
  width: 100%;
}

.top {
  color: rgba(0, 0, 0,.8);
  font-size: 20px;
  width: 90%;
  border-radius: 30px;
  display: inline-block;
  position: relative;
}

ul {
 margin: 13px auto;
 padding: 0;
 list-style-type: none;
 max-width: 360px;
}
.top li {
  display: inline-block;
  /*border: solid 5px #1D3B63;*/
  border-radius: 12px;
  background: transparent;
  width: 110px;
  height: 30px;
  line-height: 30px;
  cursor: default;
}

/*.top_skills li {
  border: solid whitesmoke 5px;
}*/
.navbar_skills a {
  color: whitesmoke;
}
.navbar_contact a {
  color: rgb(106, 195, 207);
  background-color: black;
}
.navbar_skills a:hover {
  color: black;
  background-color: whitesmoke;
  cursor: default;
}

/*.top .navbar_skills li {
  height: 40px;
  width: 120px;
}*/
.top_skills li:hover {
  border: transparent;
  transition: .2s;
  cursor: default;
  border-radius: 15px;

}
.navbar a {
  /*font-family: 'Old Standard TT', 'sans serif';*/
  text-decoration: none;
  display: block;
  /*color: #222;*/
  /*padding: 3px 35px;*/
  font-weight: bolder;
  /*position: absolute;*/
  /*top: 12px;*/
  /*left: 0;*/
}
.navbar_index a{
  color: rgb(18, 60, 98);
}
.navbar_projects a {
  color: #222;
}
.navbar_projects a:hover, .navbar_contact a:hover, .navbar_index a:hover{
  color: #1D3B63;
  background: white;
  transition: .2s;
  cursor: default;

}
/*.navbar_contact a, {
  color: rgba(0,0,0,.8);
}*/

p a {
  text-decoration: none;
  color: rgb(18, 60, 98);
}
/*h1 {
font: 'Russo One', 'sans serif';
margin: 0;
display: inline-block;
}*/

.homepic {
  float: left;
  padding-top: 5px;
  text-decoration: none;
  color: #222;
  cursor: default;
}
.homepic:active {
  transform: translateY(1px);
}
body{
  margin: 0;
  /* background-color: #929292; */
  font-size: 24px;
  text-align: center;
  color: rgba(0,0,0,0.8);
  font-weight: 900;
}
.summary {
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Lobster two', cursive;
  display: block;
}
.homeTitle {
  margin: 46px;
  letter-spacing: 18px;
  font-weight: bolder;
  /* font-size: 90px; */
  z-index: 2;
  text-align: center;
  font: 500 84px/1.0 'Just Another Hand', Helvetica, sans-serif;
  /* color: rgb(18, 60, 98); */
  text-shadow: 0 3px 0 #5e5e5e, 0 5px 0 #4d4d4d, 0 7px 0 #3c3c3c, 0 9px 0 #2b2b2b, 3px 8px 15px rgba(0,0,0,0.1), 3px 8px 5px rgba(0,0,0,0.3);
}

.navbar_skills ul {
    text-align: center;
    font-size: 18px;
}
.page_index p {
  margin: -20px 0;
  letter-spacing: 4px;
  font-size: 30px;
  text-align: center;
  font-family: 'Old Standard TT', serif;
  /* color: rgba(0, 0, 0, .8); */
}
.toolmongo {
  overflow: hidden;
  position: relative;
}
.mongopic {
  -ms-transform: rotate(-14deg); /* IE 9 */
  -webkit-transform: rotate(-14deg); /* Chrome, Safari, Opera */
  transform: rotate(-14deg);
  position: absolute;
}
.footer {
  /* color: #978062; */
  font-size: 20px;
  background-color: transparent;
  width: 60%;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
}
.footer_index {
   color: #978062;
}
.footer1 {
  float: left;
  padding-left: 10px;

}
.footer2 {
  float: left;
  padding-left: 80px;
}
/****************************
        Projects
****************************/
.featured_projects {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.featured_projects img{
  margin: 15px 15px 0 15px;
  margin: 15px 15px -19px 15px;
  border: solid #222 4px;
}
.featured_projects .buttonDiv {
  margin: 31px 0 0 0;
}
.featured_projects .buttonDiv a {
  padding: 8px 12px;
  background-color: whitesmoke;
  border-radius: 5px;
  font-size: .6em;
  color: navy;
  text-decoration: none;
  transition: .2s;
  border: 2px solid navy;
  cursor: default;
}
.featured_projects .buttonDiv a:hover {
  background-color: navy;
  color: #fff;
  transition: .2s;
  border: 2px solid #fff;
  cursor: default;
}
.memDiv, .bjDiv {
  margin: 0 20px 0 20px;
}
/****************************
        contacts
****************************/
.git {
  position: absolute;
  top: 56%;
  left: 52%;
}
.linkedin {
  position: absolute;
  top: 18%;
  left: 52%;
  transform: rotate(8deg);
}
.gmail {
  position: absolute;
  top: 84%;
  left: 53%;
}
.emailwrite {
  position: absolute;
  top: 84%;
  left: 62%;
}
.emailwrite h4 {
  padding: 20px 40px 0px 40px;
}
.fiberBg {
  opacity: .8;
}
/****************************
        MEDIA QUERIES
****************************/
@media screen and (min-width: 678px) {
  .top li {
    margin: 0 10px;
  }
  ul {
    max-width: none;
  }
}
@media screen and (min-width: 748px) {
  .page_skills {
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    /*height: 100%;
    width: 100%;*/
  }

  #garage {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
  }
  .skills-toolbox-div {
    display: none;
  }
}
/*************
   projects MQ
**************/
@media screen and (max-width: 597px) {
  .featured_projects {
    display: block;
  }
}
/*************
   Connect MQ
**************/
@media screen and (min-width: 790px) {
  .page_contact {
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 790px) {
  .contactDiv, .linkedin, .git, .gmail, .emailwrite {
    display: block;
    position: static;
    margin: auto;
    /*margin: 20px;*/
  }
  .linkedin {
    transform: rotate(14deg);
    margin: auto;
  }
  .emailwrite {
    color: whitesmoke;
  }
  .emailwrite h4 {
    /*padding: 24px;*/
    /*background: #333;*/

  }
  .gmail {
    display: block;
    position: static;
    margin: auto;
  }
}
